.responsive_gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 10px;
}

.responsive_gallery a {
    text-decoration: none;
}

.gallery-title {
    background-color:#3B7080;
    color: #FFFBFE;
	height: 30px;
}

.gallery-desc {
    background-color: #FFFBFE;
    color: #1E212B;
    border: 2px solid;
}

.gallery-lang {
    background-color:#3B7080;
    color: #FFFBFE;
    height: 30px;
}
