/*l=layout, m=module, is=state*/
html, body {background-color:#FFFBFE; font-family:Open Sans; font-size:18px; height:100%; line-height:28px; margin:0; scroll-behavior:smooth;}
footer {background-color:#FF312E; color:#FFFBFE; margin-top:0; padding-bottom:0; text-align:center; width: 100%;}
.l-parallaxContainer h1{color: #FF312E; font-family:Open Sans; font-size:180px; font-weight:700; letter-spacing:-20px; line-height:300px; margin:0; padding:none; text-align:center;}
.l-parallaxContainer h2{color: white; font-family:Open Sans; font-size:50px; font-weight:100; letter-spacing:0px; line-height:50px; margin:0; padding:none; text-align:center;}
h1 {color:#1E212B; font-family:Open Sans; font-weight:bold; line-height:25px; text-align:center;}
hr {height:1px; color:#1E212B; background-color:#1E212B; border:none;}
input[type=text], select, textarea {border:1px solid #ccc; border-radius:8px; box-sizing:border-box; padding:12px; resize:vertical; width:100%;}
input[type=submit] {background-color:#FFFBFE; border:none; border-radius:8px; color:#F8F8FF; cursor:pointer; font-size:14px; padding:12px 0px; width: 25%;}
label {display:inline-block; padding:12px 12px 12px 0;}
.l-contentContainer {background-color:#FFFBFE; display:block; position:relative; z-index:1;}
.l-parallaxContainer{background-attachment:fixed; background-image:url("../img/about.png"); background-position:center; background-repeat:no-repeat; background-size:cover; height:100%; margin:0; width:100%;}
.m-collapsible {background-color:#ABA194; border:none; color:#F8F8FF; cursor:pointer; font-size:15px; font-weight:bold; padding:18px; min-height:0px; outline:none; text-align:left; width: 100%;}
.m-collapsible:after {color:#F8F8FF; content:"+"; float:right; font-size:13px; margin-left:5px;}
.m-content {height:1fr; margin:0 12.5%; max-width:75%; padding:75px 0; text-align:center;}
.m-details {background-color:#white; max-height:0; overflow:hidden; padding:0 18px; text-align:left; transition:max-height 0.2s ease-in;}
.m-row {margin-left:18%; width: 62.5%;}
.m-row:after {clear:both; content: ""; display: table;}
.is-active, .module-collapsible:hover {background-color:#ccc;}
.is-active:after {content:"-";}
.is-currentSection {background-color: #CA1813;}
.is-pinned {position:fixed; top:0%; width:100%;}
.is-pinned + .m-content {padding-top:60px;}
#navbar {background-color:#ABA194; position:sticky; overflow:hidden;}
#navbar a {color:#F8F8FF; display:block; float:left; font-size:18px; padding:14px 10px; text-align:center; text-decoration:none;}
#navbar a:hover {background-color:#F8F8FF; color:#131313;}
#orderform {background-color:white; border:1px solid #gray; border-radius: 8px; padding: 2em;}
@media screen and (max-width: 600px) {input[type=submit] {margin-top: 0; width:100%;}}

/* Mouse Icon */
.mouse {
	height: 3.5em;
	position: absolute;
	left: 48%;
	top: 80%;
	width: 2.5em;
	text-align: center;
}

.arrow {
	position: absolute;
	left: 18%;
	top: 125%;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid white;
	
	animation-name: breathe;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-animation-name: breathe;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count:infinite;
}

.base {
	width: 2em;
	height: 3.5em;
	border-style: solid;
	border-width: 3px;
	border-radius: 45%;
	border-color: white;
}

.scroll {
	width: 3px;
	height: 8px;
	background-color: white;
	position: absolute;
	left: 43%;
	top: 20%;
	
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count:infinite;
}

@keyframes zoom scroll{
	0% 		{top: 20%; opacity: .1;}
	50%		{top: 35%; opacity: 1;}
	100%	{top: 45%; opacity: 0;}
}

@-webkit-keyframes scroll {
	0% 		{top: 20%; opacity: .1;}
	50%		{top: 35%; opacity: 1;}
	100%	{top: 45%; opacity: 0;}
}

@keyframes breathe {
	0%		{top: 125%;}
	50%		{top: 140%;}
	100%	{top: 125%;}
}

@-webkit-keyframes breathe {
	0%		{top: 125%;}
	50%		{top: 140%;}
	100%	{top: 125%;}
}
/* END Mouse Icon */


div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

* {
  box-sizing: border-box;
}

/*mobile phones*/
@media only screen and (max-width: 600px) {
  .game-screen {font-size: 12px; color: white;}
  .hangman-game {width: 75%; height: 100%;}
}
/*large screens*/
media only screen and (min-width: 601px) {
  .game-screen {font-size: 32px; color: white;}
  .hangman-game {width: 480px; height: 100%;}
}

.hangman-game {
  background-color: #818AA3;
  border: 1px solid #393E41;
  border-radius 5px;
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-group {
  align-content: center;
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
}

.btn-group button {
  background-color: #248232;
  border-radius: 3px;
  border: 1px solid #393E41;
  color: #FFFFFF;
  font-size: 2rem;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  cursor: pointer;
  padding:0;
}

.btn-group button:hover {
  background-color: #2BA84A;
}

.game-screen {
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.game-screen p{
	color: white;
	font-size: 32px;
}

#chanceImg {
	width: 100%;	
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  float: right;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2BA84A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/**/

.word-screen {
  width: 100%;
  height: 75px;
  background-color: #FFF;
  justify-content: center;
  align-content: center;
font-size: 32px;	
}

.word-screen p {
    margin: auto;
    font-size: .8em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
    max-height: 2em;
}

#start-btn {
  width: 100%;
  background-color: #2BA84A;
  border-radius: 3px;
  border: 1px solid #393E41;
  color: #FFFFFF;
  font-size: 2rem;
  padding: 10px 24px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  cursor: pointer;
  grid-row-start: 9;
  grid-column-start:1;
  grid-column-end: 5;
}

#start-btn:hover {
  background-color: #248232;
}
