/*l=layout, m=module, is=state*/
html, body {background-color:#F8F8FF; font-family:Open Sans; font-size:18px; height:100%; line-height:28px; margin:0; scroll-behavior:smooth;}
footer {background-color:#ABA194; color:#F8F8FF; margin-top:0; padding-bottom:0; text-align:center; width: 100%;}
.l-parallaxContainer h1{color: #CA1813; font-family:Open Sans; font-size:180px; font-weight:700; letter-spacing:-20px; line-height:300px; margin:0; padding:none; text-align:center;}
.l-parallaxContainer h2{color: white; font-family:Open Sans; font-size:50px; font-weight:100; letter-spacing:0px; line-height:50px; margin:0; padding:none; text-align:center;}
h1 {color:#131313; font-family:Open Sans; font-weight:bold; line-height:25px; text-align:center;}
hr {height:1px; color:#131313; background-color:#131313; border:none;}
input[type=text], select, textarea {border:1px solid #ccc; border-radius:8px; box-sizing:border-box; padding:12px; resize:vertical; width:100%;}
input[type=submit] {background-color:#4CAF50; border:none; border-radius:8px; color:#F8F8FF; cursor:pointer; font-size:14px; padding:12px 0px; width: 25%;}
label {display:inline-block; padding:12px 12px 12px 0;}
.l-contentContainer {background-color:#F8F8FF; display:block; position:relative; z-index:1;}
.l-parallaxContainer{background-attachment:fixed; background-image:url("../img/about.png"); background-position:center; background-repeat:no-repeat; background-size:cover; height:100%; margin:0; width:100%;}
.m-collapsible {background-color:#ABA194; border:none; color:#F8F8FF; cursor:pointer; font-size:15px; font-weight:bold; padding:18px; min-height:0px; outline:none; text-align:left; width: 100%;}
.m-collapsible:after {color:#F8F8FF; content:"+"; float:right; font-size:13px; margin-left:5px;}
.m-content {height:1fr; margin:0 12.5%; max-width:75%; padding:75px 0; text-align:center;}
.m-details {background-color:#white; max-height:0; overflow:hidden; padding:0 18px; text-align:left; transition:max-height 0.2s ease-in;}
.m-row {margin-left:18%; width: 62.5%;}
.m-row:after {clear:both; content: ""; display: table;}
.is-active, .module-collapsible:hover {background-color:#ccc;}
.is-active:after {content:"-";}
.is-currentSection {background-color: #CA1813;}
.is-pinned {position:fixed; top:0%; width:100%;}
.is-pinned + .m-content {padding-top:60px;}
#navbar {background-color:#ABA194; position:sticky; overflow:hidden;}
#navbar a {color:#F8F8FF; display:block; float:left; font-size:18px; padding:14px 10px; text-align:center; text-decoration:none;}
#navbar a:hover {background-color:#F8F8FF; color:#131313;}
#orderform {background-color:white; border:1px solid #gray; border-radius: 8px; padding: 2em;}
@media screen and (max-width: 600px) {input[type=submit] {margin-top: 0; width:100%;}}

/* Mouse Icon */
.mouse {
	height: 3.5em;
	position: absolute;
	left: 48%;
	top: 80%;
	width: 2.5em;
	text-align: center;
}

.arrow {
	position: absolute;
	left: 18%;
	top: 125%;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid white;
	
	animation-name: breathe;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-animation-name: breathe;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count:infinite;
}

.base {
	width: 2em;
	height: 3.5em;
	border-style: solid;
	border-width: 3px;
	border-radius: 45%;
	border-color: white;
}

.scroll {
	width: 3px;
	height: 8px;
	background-color: white;
	position: absolute;
	left: 43%;
	top: 20%;
	
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count:infinite;
}

@keyframes zoom scroll{
	0% 		{top: 20%; opacity: .1;}
	50%		{top: 35%; opacity: 1;}
	100%	{top: 45%; opacity: 0;}
}

@-webkit-keyframes scroll {
	0% 		{top: 20%; opacity: .1;}
	50%		{top: 35%; opacity: 1;}
	100%	{top: 45%; opacity: 0;}
}

@keyframes breathe {
	0%		{top: 125%;}
	50%		{top: 140%;}
	100%	{top: 125%;}
}

@-webkit-keyframes breathe {
	0%		{top: 125%;}
	50%		{top: 140%;}
	100%	{top: 125%;}
}
/* END Mouse Icon */
