/*l=layout, m=module, is=state*/
/*Color codes:
#1E212B - Raisin Black
#DB5461 - Indian Red
#3B7080 - Teal Blue
#7EA16B - Asparagus
#FFFBFE - Snow
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  background-color: #FFFBFE;
  font-size: 18px;
  height: 100%;
  line-height: 28px;
  margin: 0;
  scroll-behavior: smooth;
}

footer {
  background-color: #3B7080;
  color: #FFFBFE;
  margin-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
}

h1 {
  color: #DB5461;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}

h2 {
  color: #DB5461;
  font-style: italic;
}

hr {
  height: 1px;
  color: #1E212B;
  background-color: #1E212B;
  border: none;
}

.l-contentContainer {background-color:#FFFBFE; display:block; position:relative; z-index:1;}
.m-content {height:1fr; margin:0 12.5%; max-width:75%; padding:75px 0; text-align:center;}
.m-details {background-color:#FFFBFE; max-height:0; overflow:hidden; padding:0 18px; text-align:left; transition:max-height 0.2s ease-in;}
.m-row {margin-left:18%; width: 62.5%;}
.m-row:after {clear:both; content: ""; display: table;}

#navbar {
  background-color: #3B7080;
  position: sticky;
  top: 0;
  overflow: hidden;
}

#navbar a {
  color: #FFFBFE;
  display: block;
  float: left;
  font-size: 18px;
  padding: 14px 10px;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #DB5461;
}
